body
{	background-image: url(../img/bckgrnd.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}
h1
{
	color:white;
}
h3
{
	color: white;
}
img
{
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
hr
{
	border-color: #F24E31;
}
/*START SECTION HEADER */
.SectionHeader
{
	padding-top:1%;
}
@media(max-width: 786px;)
{
	img
	{
		width: 100%;
		border-radius: 25px;
		width: 45%;
	}
}
.AboutHeader
{
	color:white;
}

.Contain
{
	padding: 4%;
	border-radius: 25px;
	margin-bottom: 2%;

}
#SeeMore
{
	color:lightgray;
	display: none;
}
/*END OF THE SECTION*/
/*START SECTION FOOTER*/
/*END SECTION FOOTER*/
.footer
{
	margin-top:4%;
}
